<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.png" />
    <title>wfd</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
